<section>
  <div class="p-4 col-lg-12" style="background-color: black; height: 100%; display: flex; justify-content: center;">
    <div class="" style="margin-right: 20px; align-self: center; margin-top: 5px;" >
      <i class="fa fa-solid fa-bars" style="color: white; font-size: 30px;"></i>
    </div>
    <div style="margin-right: 30px; align-self: center;" >
      <span style="color:white; font-weight: bolder; font-size: 30px;">DARKCELL</span>
    </div>
    <div class="col-lg-3" style="display: flex; margin-top: 15px;" >
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Busque Aqui" aria-label="username" style="border-color: #ffffff;  height: 44px;" aria-describedby="basic-addon1">
        <div class="">
          <span class="input-group-text" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; background-color: #ffffff; border-color: #ffffff;  height: 44px;" id="basic-addon1"><i class="fa fa-search" style="color: #555555; font-size: 30px;"></i></span>
        </div>
      </div>
    </div>

    <div class="col-sm-2" style="display: flex; margin-left: 30px; margin-top: 15px;">
      <i class="fa fa-user-circle" style="color: white; font-size: 40px; margin-top: 3px;"></i>
      <p style="color:white; margin-left: 10px; margin-bottom: 15px;">Faça Login ou
      <br>
      crie seu Cadastro</p>
    </div>

    <div class="col-sm-1" style="display: flex; margin-left: 30px; margin-top: 15px;">
      <i class="fa fa-heart" style="color: white; font-size: 40px; margin-top: 3px;"></i>
    </div>

    <div class="col-sm-1" style="margin-top: 15px;">
      <i class="fa fa-shopping-cart" style="color: white; font-size: 40px; margin-top: 3px;"></i>
    </div>
  </div>
</section>

