.produtos{
    font-size: 14px;
    color: #575F67;
}

.title-footer{
    color: #000000;
}

.txtRedeSocial{
    text-align: left;
}

.iconsRedeSocial{
    text-align: right;
}

.produtos{
    font-size: 14px;
    color: #575F67;
}