<div class="">
    <div style="background-color: #4D4D4D;">
        <div class="container container-menu" style="display: flex; color: #FFFFFF; place-items: center;">            
            <div class="dropdown">
                <div class="dropbtn">
                    <span>TODOS OS DEPARTAMENTOS </span>
                    <i class="fa fa-angle-down arrow"></i>
                </div>
                <div class="dropdown-content">
                    <a href="#">Hardware</a>
                    <a href="#">Periféricos</a>
                    <a href="#">Games</a>
                </div>
            </div>

            <div class="col-md-2">
                LANÇAMENTOS
            </div> 
            <div class="col-md-2">
                DESTAQUES
            </div>
            <div class="col-md-2">
                PC GAMER
            </div>
            <div class="col-md-2">
                ELETRÔNICOS
            </div>
            <div class="col-md-2">
                ACESSÓRIOS
            </div>
        </div>
    </div>
</div>