<div >
    <section style="background-color: #4D4D4D;">
        <div class="p-1 container" style="display: flex; color: #FFFFFF">
            <div class="col-md-3">
                TODOS OS DEPARTAMENTOS
                <span style="margin-left: 15px;"> 
                    <i class="fa fa-angle-down"></i>
                </span>
            </div>
            <div class="col-md-2">
                LANÇAMENTOS
            </div> 
            <div class="col-md-2">
                DESTAQUES
            </div>
            <div class="col-md-2">
                PC GAMER
            </div>
            <div class="col-md-2">
                ELETRÔNICOS
            </div>
            <div class="col-md-2">
                ACESSÓRIOS
            </div>
        </div>
    </section>
</div>